.filter_widge select {
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    background: rgba(215, 204, 204, 0.767);
    color: rgb(13, 5, 5);
}

.filter_widge select:focus {
    outline: none !important;
}

.filter_widge select option {
    font-size: 0.9rem;
}

.search_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding-right: 12px;padding-left: 2px;cursor: pointer;
}

.search_box input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
}
.search_box span{
    color: var(--primary-color);
}
@media only screen and (max-width:776px){
    .filter_widge{
        margin-bottom: 30px;
    }
    .filter_widge select{
        padding: 7px 20px;font-size: 0.9rem;
    }
}